<div class="row" id="flash-message">
  <%= render 'flash' %>
</div>
<%= form_for @contact, url: contact_form_index_path, remote: true do |f| %>
  <div class="row">
    <div class="col">
      <%= f.text_field :name,
                       required: true,
                       class: "contact-form-text-area",
                       placeholder: "Name",
                       style: "outline: none;
                               font-family:Helvetica;
                               font-weight:bold;
                               font-size:36px;
                               width:100%;
                               -webkit-box-sizing: border-box;
                               border: 0px solid #fff;
                               background-color:rgb(245,245,245);" %></br>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= f.text_field :email,
                       required: true,
                       class: "contact-form-text-area",
                       placeholder: "Email",
                       style: "outline: none;
                               font-family:Helvetica;
                               font-weight:bold;
                               font-size:36px;
                               width:100%;
                               -webkit-box-sizing: border-box;
                               border: 0px solid #fff;
                               background-color:rgb(245,245,245);" %></br>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= f.text_area :message,
                      rows: 3,
                      cols: 60,
                      required: true,
                      class: "contact-form-text-area",
                      placeholder: "Send me a message",
                      style: "outline: none;
                              font-family:Helvetica;
                              font-weight:bold;
                              font-size:42px;
                              width:100%;
                              -webkit-box-sizing: border-box;
                              border: 0px solid #fff;
                              background-color:rgb(245,245,245);" %></br>
    </div>
  </div>
    <div class= "hidden">
      <%= f.label :nickname %>
      <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
    </div>
  <div class="row">
    <%= f.submit 'Send Message', class: 'btn btn-primary', style: "float: right" %>
  </div>
<% end %>
