<% content_for :head do %>
<title>We Agree That…</title>
<meta property="og:url"                content="http://www.weagreethat.org/" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="We Agree That…" />
<meta property="og:description"        content="And <%= @statement.agree_count %> people agree with me." />
<!-- <meta property="og:image"              content='<%= polymorphic_url(@statement.image_2to1) if @statement.image_2to1.attached? %>' /> -->
<!-- <meta property="twitter:card" content="summary_large_image" /> -->
<meta property="twitter:site" content="@WeAgreeThat" />
<meta property="twitter:creator" content="@WeAgreeThat" />
<meta property="twitter:title" content="I agree that…" />
<!-- <meta property="twitter:description" content="<%= full_statement(@statement.content) %>" /> -->
<!-- <meta property="twitter:image" content="<%= polymorphic_url(@statement.image_2to1) if @statement.image_2to1.attached? %>" /> -->
<% end %>

<div class="jumbotron">
  <%= render partial: "statements/partials/agree", locals: {statement: @statement} %>
  <h1>…<%= @statement.content %></h1>
  <div class="row">
    <div class="collapse.show" id="agree_section">
      <div class="col-xs-6">
        <p>
        <%= link_to @agreed ? 'Unagree' : 'Agree',
                    toggle_agree_statement_path(@statement),
                    type: 'button',
                    id: "agree_btn",
                    class: agree_button_css,
                    "data-toggle"=>"button",
                    "aria-pressed"=>"#{@agreed}",
                    "data-agree-text"=>"Unagree",
                    "data-unagree-text"=>"Agree",
                    :method => :post,
                    :remote => :true %>
        <script>
          $('#agree_btn').on('click', function () {
            if ($(this).hasClass('active')){
              $(this).button('unagree')
            } else {
              $(this).button('agree')
            }
          })
        </script>
        <a class="btn btn-info btn-lg"
            role="button"
            data-toggle="collapse"
            href="#new_child"
            aria-expanded="false"
            aria-controls="new_child">Create New</a>
        </p>
      </div>
      <div class="col-xs-6 text-right">
        <a class="btn btn-warning btn-lg" role="button">Report</a>
      </div>
    </div>
  </div>

<!--
  <div class="collapse" id="new_child">
    <div class="well text-center">
      <%# form_for @new, url: statements_create_root_path, method: 'post' do |f| %>
      <div class="field">
        <%# f.text_area :content, :cols => 40, :rows => 2 %>
      </div>
      <div class="field">
        <%# f.label :tag_list %>
        <%# f.text_field :tag_list, size: 80 %>
      </div>
      <%# f.submit "Submit new statement", class: "btn btn-success btn-lg" %>
      <%# end %>
    </div>
  </div>
-->
</div>

<div class="row">
  <div class="col-xs-12">
    <h2>We Agree That… is an experiment in crowd-sourced axioms.</h2>
    <p class="lead">Despite the recent trend in polarization of politics, I believe that we, as an entire world, <mark>agree on more than we disagree on</mark>.</p>
    <p class="lead">The media and policitians benefit from increasing that polarization, making us believe that we are irreconcilably different.</p>
    <h3>This site hopes to show that we have more in common than we have in difference.</h3>
    <p class="lead">We invite you to browse submitted statements, refine existing statements, or create new ones.</p>
    <p class="lead">You can <i>agree</i> to any statement, increasing its status. But keep in mind that if you agree to a statement, any agrees further up that statement's ancestry is removed.</p>
  </div>
</div>

<div class="row">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <h2>Top Statements</h2>
        <div class="list-group">
          <%= render partial: "statements/partials/list_statements", collection: @top_ten, as: :statement %>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <h2>Most Discussed</h2>
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
        </div>
      </div>
    </div>
  </div>
</div>
