<% content_for :head do %>
<title><%= 'We Agree That… All Statements' %></title>
<% end %>

<div class="jumbotron">
  <div class="row">
    <div class="col">
      <h1>Statements</h1>
    </div>
  </div>

  <div class="row">
    <a class="btn btn-info btn-lg"
        role="button"
        data-toggle="collapse"
        href="#new_child"
        aria-expanded="false"
        aria-controls="new_child">Create New</a>
  </div>

  <p id="notice"><%= notice %></p>

  <h2>Categories</h2>

  <div class="row">
  <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
    <%# link_to tag.name, { :action => :tag, :id => tag.name }, :class => css_class %>
    <%= link_to tag.name, tag_path(tag.name), class: "btn btn-default btn-sm", role: "button" %>
  <% end %>
  </div>

  <div class="row">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <h2>Most Recent</h2>
          <div class="list-group">
            <%= render partial: "statements/partials/list_statements", collection: @most_recent, as: :statement %>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <h2>Most Variants</h2>
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <h2>Top Statements</h2>
          <div class="list-group">
            <%= render partial: "statements/partials/list_statements", collection: @top_ten, as: :statement %>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <h2>Most Discussed</h2>
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
