<% content_for :head do %>
<title>We Agree That… <%= @statement.content.truncate(40, separator: ' ') %></title>
<meta property="og:url"                content='<%= request.original_url %>' />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="<%= full_statement(@statement.content) %>" />
<meta property="og:description"        content="And <%= @statement.votes_for %> people agree with me." />
<meta property="og:image"              content='<%= polymorphic_url(@statement.image_2to1) if @statement.image_2to1.attached? %>' />
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:site" content="@WeAgreeThat">
<meta property="twitter:creator" content="@WeAgreeThat">
<meta property="twitter:title" content="I agree that…">
<meta property="twitter:description" content="<%= full_statement(@statement.content) %>">
<meta property="twitter:image" content="<%= polymorphic_url(@statement.image_2to1) if @statement.image_2to1.attached? %>">
<% end %>

<%= link_to '2to1', polymorphic_url(@statement.image_2to1) if @statement.image_2to1.attached? %>

<div class="jumbotron">
  <ul class="list-inline">
  <% @statement.tags.each do |tag| %>
    <li><%= link_to tag.name, tag_path(tag.name), class: "btn btn-default btn-sm", role: "button" %></li>
  <% end %>
  </ul>
  <h3 id='like-post-container'>
    <%= render partial: "agree", locals: {statement: @statement} %>
  </h3>
  <h1>…<%= @statement.content %></h1>
  <div class="row">
    <div class="collapse.show" id="agree_section">
      <div class="col-xs-6">
        <p>
        <%= link_to @agreed ? 'Unagree' : 'Agree', toggle_agree_statement_path(@statement), type: 'button', id: "agree_btn", class: @css_string, "data-toggle"=>"button", "aria-pressed"=>"#{@agreed}", "data-agree-text"=>"Unagree", "data-unagree-text"=>"Agree", :method => :post, :remote => :true %>
        <script>
          $('#agree_btn').on('click', function () {
            if ($(this).hasClass('active')){
              $(this).button('unagree')
            } else {
              $(this).button('agree')
            }
          })
        </script>
        <a class="btn btn-primary btn-lg" role="button" data-toggle="collapse" href="#new_child" aria-expanded="false" aria-controls="new_child">Create Variant</a>
        </p>
      </div>
      <div class="col-xs-6 text-right">
        <div class="fb-share-button"
          data-href="http://weagreethat-dev.herokuapp.com/statements/<%= @statement.hashid %>"
          data-layout="button_count">
        </div>
        <a id="shareBtn_facebook" data-href="<%= request.original_url %>" class="btn btn-info btn-lg" role="button"><i class="fa fa-facebook-official"></i></a>
        <script>
          document.getElementById('shareBtn_facebook').onclick = function() {
            FB.ui({
              method: 'share',
              display: 'popup',
              href: 'http://localhost:3000/statements/13',
            }, function(response){});
          }
        </script>
        <a class="btn btn-info btn-lg" href="https://twitter.com/share?ref_src=twsrc%5Etfw" data-text="I agree that <%= @statement.content %>" data-url="http://localhost:3000/statements/6" data-via="WeAgreeThat" data-hashtags="agree" data-show-count="false"><i class="fa fa-twitter"></i></a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <a class="btn btn-warning btn-lg" role="button" data-toggle="modal" data-target="#reportModal">Report</a>
      </div>
    </div>
  </div>
  <div class="collapse" id="new_child">
    <div class="well text-center">
      <h3>Modify the text to improve it!</h3>
      <%# form_with(model: @child) do |f| %>
      <%= form_for(@child, url: create_child_statement_path) do |f| %>
      <div class="field">
        <%= f.text_area :content, :value => @statement.content, :cols => 40, :rows => 2 %>
      </div>
      <div class="field">
        <%= f.label :tag_list %>
        <%= f.text_field :tag_list, value: f.object.tag_list.to_s, size: 80 %>
      </div>
      <%= f.hidden_field :parent_id, :value => @statement.id %>
      <a class="btn btn-warning btn-lg" role="button" data-toggle="collapse" href="#new_child" aria-expanded="false" aria-controls="new_child">Cancel</a>
      <%= f.submit "Submit variant and agree", class: "btn btn-success btn-lg" %>
      <% end %>
      <p>If you'd like to create an entirely new statement, click here.</p>
    </div>
  </div>
</div>


<% if @statement.parent %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Version History</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6 col-sm-12 text-left">
        <div class="row">
          <div class="col-sm-12">
            <h4>Parent version</h4>
          </div>
          <div class="col-sm-12">
            <%= @diff_left %>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 text-left">
        <div class="row">
          <div class="col-sm-12">
            <h4>This version</h4>
          </div>
          <div class="col-sm-12">
            <%= @diff_right %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% if not @statement.leaf? %>
<div class="row">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <h2>Variations</h2>
        <div class="list-group">
          <%= render partial: "listitem", collection: @statement.leaves, as: :statement %>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <h2>Most Discussed</h2>
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<div class="row">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Admin</h3>
          </div>
          <div class="panel-body">
            <ul>
              <li class="list-group-item">Ad Hominem: <%= @reports.adhominem.length %></li>
              <li class="list-group-item">Nonsense: <%= @reports.nonsense.length %></li>
              <li class="list-group-item">Inappropriate: <%= @reports.inappropriate.length %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="reportModalLabel">Report Statement</h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6">
            <p>
              We agree that this website should be an open forum for honest, axiomatic debate. However, we do not tolerate some kinds of speech, not only because it's cruel, but also because it's unaxiomatic.
            </p>
            <p>
              Submitting this report will not automatically remove the offending statement. We hope to be able to personally review statements that generate a lot of reports.
            </p>
            <p>
              Please use this reporting tool carefully.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <h4>Type of Report</h4>
            <%= form_with(model: [@statement, Report.new]) do |f| %>
              <div class="radio">
                <label>
                  <input type="radio" id="report_kind_adhominem" name="report[kind]" value="adhominem" aria-label="...">
                  Ad Hominem
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" id="report_kind_nonsense" name="report[kind]" value="nonsense" aria-label="...">
                  Nonsense
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" id="report_kind_inappropriate" name="report[kind]" value="inappropriate" aria-label="...">
                  Inappropriate
                </label>
              </div>
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
      </div>
      <div class="modal-footer">
              <%= f.submit "Submit report", class: "btn btn-warning btn-lg" %>
            <% end %>
      </div>
    </div>
  </div>
</div>

<% @reports %>
